@charset "UTF-8";
@font-face {
  font-family: "Metropolis";
  src: url("polices/Metropolis-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "comics";
  src: url("polices/typo_comics_demo-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "devonshire";
  src: url("polices/devonshire-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "flow";
  src: url("polices/flow-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "croissantone";
  src: url("polices/croissantone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "smile";
  src: url("polices/just_gotta_smile-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "dancing";
  src: url("polices/dancingscript-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "worst";
  src: url("polices/worstveldsling-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "kaushan";
  src: url("polices/kaushanscript-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@keyframes point {
  to {
    opacity: 0;
    transform: scale(0);
  }
  from {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes wiggle {
  to {
    transform: translate(2%);
  }
  from {
    transform: translate(-2%);
  }
}
header, aside, footer {
  background-color: #579c87;
  color: #fdcb46;
  font-family: "Metropolis";
}
header a, aside a, footer a {
  color: #fdcb46;
}

header {
  width: 100%;
  height: 150px;
  border-bottom: solid 2px #a1bf81;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

#pageprincipal {
  display: flex;
  margin: auto;
  width: 80%;
  flex-wrap: wrap;
  justify-content: space-around;
}
#pageprincipal section {
  width: 400px;
  height: 500px;
  margin: 5%;
  text-align: center;
  box-shadow: 0 0 15px #a09f9f;
}
#pageprincipal section p {
  font-size: 50px;
  margin-top: 5px;
  font-weight: bold;
}
#pageprincipal section a {
  transform: scale(1);
  opacity: 1;
  transition: transform 400ms;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#pageprincipal section a:hover {
  transform: scale(1.2);
  opacity: 0.8;
}

aside {
  width: 400px;
  height: 50px;
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  border-top: solid 2px #a1bf81;
  display: flex;
  position: sticky;
  bottom: 0px;
}
footer ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
footer ul li {
  margin-left: 25px;
  margin-right: 25px;
}
footer ul li a {
  font-size: 25px;
}
footer ul li:hover {
  animation: wiggle 150ms ease-in-out infinite;
  animation-direction: alternate;
}

#container {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

#mini_menu1 {
  background-color: #fcdfdb;
  display: flex;
  flex-direction: column;
}
#mini_menu1 h2 {
  font-family: "devonshire";
  font-size: 50px;
  font-weight: normal;
}
#mini_menu1 p {
  font-family: "flow";
}
#mini_menu1 a {
  color: #3c1218;
}

i {
  background: -webkit-linear-gradient(left, #f05060, #f6916a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#mini_menu2 {
  background-color: #fff5fe;
  display: flex;
  flex-direction: column;
}
#mini_menu2 h2 {
  font-family: "croissantone";
  font-size: 25px;
  background: -webkit-linear-gradient(left, #c77412, #8f5aff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#mini_menu2 a {
  color: #c77412;
}

#mini_menu3 {
  background-color: #f9f9f9;
  color: #0889fb;
  display: flex;
  flex-direction: column;
}
#mini_menu3 h2 {
  font-family: "dancing";
  background: -webkit-linear-gradient(left, #0229dd, #0889fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
}
#mini_menu3 p {
  font-family: "worst";
  font-size: 70px;
}
#mini_menu3 a {
  color: #0889fb;
}

#mini_menu4 {
  background-color: #fff5fe;
  display: flex;
  flex-direction: column;
}
#mini_menu4 h2 {
  font-family: "kaushan";
  background: -webkit-linear-gradient(left, #43973d, #beff7f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
}
#mini_menu4 p {
  font-family: "worst";
  font-size: 70px;
}
#mini_menu4 a {
  color: #43973d;
}

#suspension {
  display: flex;
  justify-content: space-around;
  margin: 8px 10px 0px 10px;
}
#suspension .point {
  background-color: #fdcb46;
  width: 8px;
  height: 8px;
  margin: 5px;
  border-radius: 50%;
  animation: point 3000ms ease-in-out both infinite;
  transform-origin: bottom;
  animation-direction: alternate;
  animation-duration: 2000ms;
}
#suspension .point--1 {
  animation-delay: 300ms;
}
#suspension .point--2 {
  animation-delay: 600ms;
}
#suspension .point--3 {
  animation-delay: 900ms;
}

#menu1, #menu2, #menu3, #menu4 {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px #a09f9f;
  width: 80%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 70px 0 70px 0;
}
#menu1 section, #menu2 section, #menu3 section, #menu4 section {
  margin: auto;
  width: 80%;
}
#menu1 article, #menu2 article, #menu3 article, #menu4 article {
  display: flex;
}
#menu1 article li, #menu2 article li, #menu3 article li, #menu4 article li {
  margin-bottom: 20px;
}
#menu1 h2, #menu1 h3, #menu2 h2, #menu2 h3, #menu3 h2, #menu3 h3, #menu4 h2, #menu4 h3 {
  text-align: center;
}
#menu1 .plats, #menu2 .plats, #menu3 .plats, #menu4 .plats {
  width: 80%;
  text-align: start;
}
#menu1 .prix, #menu2 .prix, #menu3 .prix, #menu4 .prix {
  width: 20%;
  text-align: end;
}

#menu1 {
  font-size: 25px;
  background-color: #fcdfdb;
  color: #3c1218;
  font-family: "comics";
}
#menu1 h2 {
  font-family: "devonshire";
  font-size: 70px;
  font-weight: normal;
}
#menu1 h4 {
  text-align: center;
  font-size: 30px;
}
#menu1 footer {
  font-family: "devonshire";
  font-size: 50px;
}

#menu2 {
  font-size: 25px;
  background-color: #fff5fe;
}
#menu2 h2 {
  font-family: "croissantone";
  background: -webkit-linear-gradient(left, #c77412, #8f5aff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
}
#menu2 h3 {
  font-size: 30px;
}
#menu2 #entrée {
  color: #c67412;
}
#menu2 #plat {
  color: #a56799;
}
#menu2 #dessert {
  color: #6e4ccc;
}

#menu3 {
  font-size: 25px;
  background-color: #f9f9f9;
  font-family: "smile";
}
#menu3 h2 {
  font-family: "dancing";
  background: -webkit-linear-gradient(left, #0229dd, #0889fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 80px;
}
#menu3 h3 {
  font-size: 30px;
}

#menu4 {
  font-size: 30px;
  background-color: #fff5fe;
  font-family: "worst";
  font-weight: bold;
}
#menu4 h2 {
  font-family: "kaushan";
  background: -webkit-linear-gradient(left, #43973d, #beff7f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 80px;
}
#menu4 h3 {
  font-size: 50px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

#mentions {
  font-family: "Metropolis";
  font-size: 20px;
  margin: 0 100px 0 100px;
}
#mentions h2, #mentions h3 {
  text-align: center;
  font-size: 25px;
  margin: 50px;
  color: #fdcb46;
}

/*# sourceMappingURL=style.css.map */
