@font-face {
  font-family: "Metropolis";
  src: url("polices/Metropolis-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "devonshire";
  src: url("polices/devonshire-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "flow";
  src: url("polices/flow-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "croissantone";
  src: url("polices/croissantone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "dancing";
  src: url("polices/dancingscript-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "worst";
  src: url("polices/worstveldsling-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "kaushan";
  src: url("polices/kaushanscript-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
header, aside, footer {
  background-color: #579c87;
  color: #fdcb46;
  font-family: "Metropolis";
}
header a, aside a, footer a {
  text-decoration: none;
  color: #fdcb46;
}

header {
  width: 100%;
  height: 150px;
  border-bottom: solid 2px #a1bf81;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  margin: auto;
  width: 80%;
  flex-wrap: wrap;
  justify-content: space-around;
}
main section {
  width: 400px;
  height: 500px;
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 15px #a09f9f;
}
main section h2 {
  font-size: 25px;
}
main section h3 {
  font-size: 50px;
  margin-top: 5px;
}

aside {
  width: 400px;
  height: 50px;
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  border-top: solid 2px #a1bf81;
  display: flex;
  justify-content: space-between;
  position: sticky;
  bottom: 0px;
}
footer nav {
  margin-left: 25px;
  margin-right: 25px;
}

#container {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

#menu1 {
  background-color: #fcdfdb;
  color: #3c1218;
  display: flex;
  flex-direction: column;
}
#menu1 h2 {
  font-family: "devonshire";
  font-size: 50px;
}
#menu1 h2 i {
  background: -webkit-linear-gradient(left, #f05060, #f6916a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#menu1 h3 {
  font-family: "flow";
}
#menu1 a {
  display: block;
  position: absolute;
  width: 400px;
  height: 500px;
}

#menu2 {
  background-color: #fff5fe;
  color: #c77412;
  display: flex;
  flex-direction: column;
}
#menu2 h2 {
  font-family: "croissantone";
  background: -webkit-linear-gradient(left, #c77412, #8f5aff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#menu2 a {
  display: block;
  position: absolute;
  width: 400px;
  height: 500px;
}

#menu3 {
  background-color: #f9f9f9;
  color: #0889fb;
  display: flex;
  flex-direction: column;
}
#menu3 h2 {
  font-family: "dancing";
  background: -webkit-linear-gradient(left, #0229dd, #0889fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#menu3 h3 {
  font-family: "worst";
}
#menu3 a {
  display: block;
  position: absolute;
  width: 400px;
  height: 500px;
}

#menu4 {
  background-color: #fff5fe;
  color: #43973d;
  display: flex;
  flex-direction: column;
}
#menu4 h2 {
  font-family: "kaushan";
  background: -webkit-linear-gradient(left, #43973d, #beff7f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#menu4 h3 {
  font-family: "worst";
}
#menu4 a {
  display: block;
  position: absolute;
  width: 400px;
  height: 500px;
}

#suspension {
  display: flex;
  justify-content: space-around;
  margin: 8px 10px 0px 10px;
}
#suspension .point {
  background-color: #fdcb46;
  width: 8px;
  height: 8px;
  margin: 5px;
  border-radius: 50%;
}

/*# sourceMappingURL=style.css.map */
